.autoPage__h1{
    font-size: 39px;
    word-wrap: break-word;
}

body{
    overflow: auto;
}

.characteristic{
    font-size: 20px;
}

.characteristic__answer{
    padding-left: 30px
}

.la{
    padding-top: 20px;
}



.rentalConditions-list{
    display: flex;

}

.rentalConditions-div{
    display: flex;
    align-items: center;
}

.rentalConditions-div:last-child{
    padding-left: 20px;
}

.rentalConditions-img{
    padding-right: 10px;
}

.characteristic__list{
    display: flex;
}

.swiperSlide img{
    width: 100%;
}

.autoPage{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1024px){
    .autoPage{
        display: flex;
        justify-content: space-around;
    }

    .autoPage__h1{
        padding-left: 30px;
        font-size: 4rem
    }


}

@media screen and (max-width: 600px){
    .autoPage {
        display: block;
    }


    .rentalConditions>h5{
        font-size: 2.8em
    }

    .rentalConditions-element{
        display: flex;
    }

    .rentalConditions-img{
        width: 80px;
        padding-right: 0;
    }

    .rentalConditions-element>p{
        font-size: 2.5em;
    }

    .rentalConditions{
        margin-left: 150px;
    }

    .characteristic{
        font-size: 30px
    }

    .characteristic>h2{
        font-size: 1.7em;
        padding-top: 10px
    }

    .characteristic__list{
        width: 80%;
        justify-content: space-between;
    }

    .characteristic__question>ul>li{
        font-size: 1.5em;

    }

    .characteristic__answer>ul>li{
        font-size: 1.5em
    }

}

