.autoPage__h1{
    font-size: 39px;
    word-wrap: break-word;
}

body{
    overflow: auto;
}

.characteristic{
    font-size: 20px;
}

.characteristic__answer{
    padding-left: 30px
}

.la{
    padding-top: 20px;
}



.rentalConditions-list{
    display: flex;

}

.rentalConditions-div{
    display: flex;
    align-items: center;
}

.rentalConditions-div:last-child{
    padding-left: 20px;
}

.rentalConditions-img{
    padding-right: 10px;
}

.characteristic__list{
    display: flex;
}

.swiperSlide img{
    width: 100%;
}

.autoPage{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1024px){
    .autoPage{
        display: flex;
        justify-content: space-around;
    }

    .autoPage__h1{
        padding-left: 30px;
        font-size: 4rem
    }

}

@media screen and (max-width: 768px){
    .wrapper{
        width: 100%;
    }

    .autoPage{
        display: block;
        margin: 0 auto;
    }

    .rentalConditions>h5{
        text-align: center;
    }

    .rentalConditions-list{
        justify-content: space-around;
    }




    .characteristic>h2{
        text-align: center;
    }

    .characteristic__list{
        justify-content: center;
    }
}
