.form {
    box-shadow: 3px 3px 7px #999999;
    width: 400px;
    padding: 10px 15px;


}
.form__border-bottom{
    display:flex;
    justify-content: space-between;

}

.date{
    border: none;
    padding: 10px 0.5em;
    border-bottom: 1px solid #e32526;
    font-size: 18px;
}


.date:focus-within {
    outline:1px solid #e32526;
    border: none;
}
.additionalServices{
    display: grid;

}

.additionalServices-P{
    font-size: 18px;
}

.additionalServices{
    border-bottom: 1px solid #bebcbc;
}

.additionalServices-item-p{
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center
}

.additionalServices-label{
    padding-left: 10px;
}

.additionalServices-item{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.additionalServices-item:last-child{
    margin-bottom: 20px
}

.padding-left{
    padding-left: 10px
}

.w-150{
    width: 150px
}

.price-info{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    float: right;
}

.price{
    font-size: 24px;
}

.total__price-order{
    margin-top: 10px
}

.razmer{
    width: 240px
}



.button-reservation{
    width: 100%;
    margin: 20px 0 5px;
}

@media screen and (max-width: 600px) {
    .form{
        margin: 25px auto;
        width: 80%
    }

    .form__border-bottom{

    }

    .calendar{
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .date{
        width: 90%;
        font-size: 2.3em;
        text-align: center;
    }

    .additionalServices-P{
        font-size: 2.3em;
    }

    .padding-left{
        font-size: 2em;

    }
    .additionalServices-item-p{
        font-size: 2em;


    }

    .additionalServices{
        gap: 15px
    }
    .razmer{
        width: 500px;
    }

    .price-info{
        font-size: 2.4em;
    }

    .price{
        font-size: 1em;

    }

    .button-reservation{
        font-size: 2em
    }

    .additionalServices-checkbox{
        transform: scale(2);
    }
}


@media screen and (max-width: 400px) {


    .calendar{
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .date{
        width: 90%;
        font-size: 3em;
        text-align: center;
    }

    .additionalServices-P{
        font-size: 3em;
    }

    .padding-left{
        font-size: 2.7em;

    }
    .additionalServices-item-p{
        font-size: 2.7em;

    }

    .additionalServices{
        gap: 15px
    }
    .razmer{
        width: 500px;
    }

    .price-info{
        font-size: 2.4em;
    }

    .price{
        font-size: 1em;

    }

    .button-reservation{
        font-size: 2em
    }
}



